---
layout: default
---
<div id="main">

  <div class="wrapper">

  <!--=============== intro slide ===============-->

    <div id="intro">

      <div id="topSlide">
        <div id="slides">
          <ul class="slides-container">

          <!-- Slide 1 -->

            <li>
              <div class="raster"></div>
                <div class="container">
                <div class="patern clear"></div>
                  <h4>{{ site.data.index.hero.subtitle }}</h4>
                  <h1 class="white">{{ site.data.index.hero.title }}</h1>
                <div class="patern clear"></div>

                </div>

              <div style="background-image: url('images/bg/1.jpg');" class="slides-big-img"></div>
            </li>

          <!-- Slide 2 -->

            <li>
              <div class="raster"></div>
                <div class="container">
                <div class="patern clear"></div>
                  <h4>{{ site.data.index.hero.subtitle }}</h4>
                  <h1 class="white">{{ site.data.index.hero.title }}</h1>
                <div class="patern clear"></div>

                </div>

              <div style="background-image: url('images/bg/1.jpg');" class="slides-big-img"></div>
            </li>

          <!-- Slide 3 -->

            <li>
              <div class="raster"></div>
                <div class="container">
                <div class="patern clear"></div>
                  <h4>{{ site.data.index.hero.subtitle }}</h4>
                  <h1 class="white">{{ site.data.index.hero.title }}</h1>
                <div class="patern clear"></div>

                </div>

              <div style="background-image: url('images/bg/1.jpg');" class="slides-big-img"></div>
            </li>
          </ul>
        </div>
        <a href="#about" class="start transition"><i class="fa fa-angle-down"></i></a>

      </div>

    </div><!--===============intro end ===============-->



    <div class="sections">
    <!--=============== navigation ===============-->

      <div class="navigation">


        <div class="nav-button transition">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div class="inner">
          <a href="#intro" class="logo"><img  src="images/logo.png"   alt="" title=""></a>

          <div class="link-holder" id="nav">
          <ul>
            <li class="current"><a href="#about" class="scroll-link">{{ site.data.index.menu.about }}</a></li>
            <li><a href="#services" class="scroll-link">{{ site.data.index.menu.skills }}</a></li>
            <li><a href="#portfolio" class="scroll-link">{{ site.data.index.menu.work }}</a></li>
            <li><a href="#team" class="scroll-link">{{ site.data.index.menu.team }}</a></li>
            <li><a href="#contacts" class="scroll-link">{{ site.data.index.menu.contact }}</a></li>
            <li><a href="blog.html">{{ site.data.index.menu.blog }}</a></li>
          </ul>
          </div>

        </div>


      </div><!--=============== navigation end ===============-->

    </div>

  <!--=============== section about ===============-->

    <div id="about" class="sections">

      <div class="content">
        <div class="container">
          <h3 class="title">{{ site.data.index.about.title }}</h3>
          <div class="small-separator"></div>
          <p>{{ site.data.index.about.description }}</p>
          <a href="#portfolio" class="scroll-to-work transition">{{ site.data.index.about.link }}</a>
        </div>

      </div>
    </div><!--=============== section about end ===============-->

  <!--=============== section services ===============-->

    <div id="services" class="sections">

      <div class="content">
        <div class="container">

          <h3 class="title">{{ site.data.index.skills.title }}</h3>
          <div class="small-separator"></div>

          <div class="services-slider">

            <ul class="slides">
              {% for slide in site.data.index.skills.slides %}
                <li>
                  <p class="transition">{{ slide.description }}</p>
                </li>
              {% endfor %}
            </ul>

          </div>

          <div class="clear"></div>

          <div class="row-services">
            {% for slide in site.data.index.skills.slides %}
              <a name="{{ slide.index }}" class="animbox {{ slide.class }} transition">
                <i class="fa fa-{{ slide.icon }}  "></i>
                <span class="services-name">{{ slide.title }}</span>
                <span class="services-text"></span>
              </a>
            {% endfor %}
          </div>

        </div>

      </div>
    </div><!--=============== section services end ===============-->

  <!--=============== section portfolio ===============-->

    <div id="portfolio" class="sections">

      <div class="content">

        <div class="container">

          <h3 class="title" style="color:#fff">{{ site.data.index.work.title }}</h3>
          <div class="small-separator"></div>

          <!-- portfolio filters -->

          <div id="options" class="clear">

            <ul id="filters" class="option-set" data-option-key="filter">

            <li class="filter actcat" data-filter="all">{{ site.data.index.work.categories.all }}</li>
            <li class="filter" data-filter="category_1">{{ site.data.index.work.categories.reels }}</li>
            <li class="filter" data-filter="category_2">{{ site.data.index.work.categories.vjing }}</li>
            <li class="filter" data-filter="category_3">{{ site.data.index.work.categories.video }}</li>

            </ul>

          </div>

         <!-- ajax-section -->

         <div class="clear"></div>
          <div id="ajax-section">
            <div id="loader"></div>
            <div id="ajax-content-outer">
              <div id="ajax-content-inner"></div>
            </div>
            <div id="project-navigation">
              <ul>
                <li id="prevProject"><a href="#"><i class="fa fa-angle-left"></i> </a></li>
                <li id="nextProject"><a href="#"><i class="fa fa-angle-right"></i> </a></li>
              </ul>
            </div>
            <div id="closeProject">
                <a href="#/"><i class="fa fa-times"></i></a>
            </div>
          </div><!-- ajax-section end -->

          <!-- Projects links -->

          <div class="aih">
          <div id="scroll-el"></div>

            <ul id="folio_container">
              {% for project in site.data.index.work.projects %}
                <li class="box grid-2 mix {{ project.category }} mix_all">
                  <a href="{{ project.link }}" class="transition {{ project.linkClass }}">
                    <img src="{{ project.image }}" class="respimg">
                    <span class="folio-overlay"></span>
                    <div class="folio-name clear">
                      <div class="folio-icon"><i class="fa fa-{{ project.icon }}"></i></div>
                        <h4>{{ project.title }}</h4>
                        <h6>{{ project.subtitle }}</h6>
                    </div>
                  </a>
                </li>
              {% endfor %}
            </ul>

          </div>

        </div>
      </div>
    </div><!--=============== section portfolio end ===============-->

  <!--=============== section order ===============-->

    <div id="order" class="sections">
      <div class="content">
        <div class="container">
            <div class="order-block">
            <h3>{{ site.data.index.order.title }}</h3>
            <a href="#contacts" class="transition">{{ site.data.index.order.link }}</a>
          </div>
        </div>
      </div>
    </div><!--=============== section order end ===============-->



  <!--=============== section team ===============-->

    <div id="team" class="sections">
      <div class="content">
        <div class="container">
        <h3 class="title">{{ site.data.index.team.title }}</h3>
        <div class="small-separator"></div>

          <div id="team-carusel" class="owl-carousel">

            {% for fella in site.data.index.team.fellas %}
              <div class="item">
                <div class="team-member">

                  <a href="{{ fella.image }}" class="team-img image-popup">
                    <img src="{{ fella.image }}"  class="respimg transition" alt="">
                  </a>

                  <h3>{{ fella.title }}</h3>
                  <h4>{{ fella.position }}</h4>
                  <p>{{ fella.description }}</p>
                  <div class="team-social">
                    <a href="#contacts" class="transition"><i class="fa fa-envelope"></i></a>
                    <a href="{{ fella.instagram }}" target="_blank" class="transition"><i class="fa fa-instagram"></i></a>
                    <a href="{{ fella.vkontakte }}" target="_blank" class="transition"><i class="fa fa-vk"></i></a>
                    <a href="{{ fella.facebook }}"  target="_blank" class="transition"><i class="fa fa-facebook"></i></a>
                  </div>

                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>  <!--=============== section team end ===============-->

    <!--=============== section contacts ===============-->
    <div id="contacts" class="sections">

      <div class="overlay"></div>

      <div class="content">

        <div class="container">

          <h3 class="title">{{ site.data.index.contact.title }}</h3>
          <div class="small-separator"></div>

                    <p class="white">{{ site.data.index.contact.subtitle }}</p>

          <div class="grid-2">
            <div class="contact-details">

              <h3 class="color-gold">{{ site.data.index.contact.info }}</h3>
              <ul>
                <li><i class="fa fa-whatsapp"></i><span>{{ site.data.index.contact.phone }}</span></li>
                <li><i class="fa fa-envelope-o"></i><span>{{ site.data.index.contact.email }}</span></li>
                <li><i class="fa fa-home"></i><span>{{ site.data.index.contact.mindless }}</span></li>
              </ul>

            </div>

          </div>

          <div class="grid-4">

            <div class="contact-form clear">

              <fieldset id="contact_form">
                <label for="name">
                  <input type="text" name="name" id="name" placeholder="{{ site.data.index.contact.namePlaceholder }}" />
                </label>
                <label for="email">
                  <input type="text" name="email" class="right" id="email" placeholder="{{ site.data.index.contact.emailPlaceholder }}" />
                </label>
                <div class="clear"></div>
                <label for="message">
                  <textarea name="message"  id="message" placeholder="{{ site.data.index.contact.messagePlaceholder }}"></textarea>
                </label>
                <div class="clear"></div>

                <label>
                  <button class="submit_btn transition" id="submit_btn"><i class="fa fa-envelope-o fa-2x"></i></button>
                </label>

                <div id="result"></div>

              </fieldset>

          </div>

        </div>

      </div>
    </div>

    </div><!--=============== section contacts end ===============-->

  <!--=============== section footer ===============-->

    <div id="footer" class="sections ws">
      <div class="content">
        <div class="container">

          <a class="to-top" href="#intro"><i class="fa fa-angle-up transition"></i></a>

          <div class="clear"></div>

          <div class="social-list">

            <ul>
              <li><a href="{{ site.data.index.footer.facebook }}"  target="_blank" class="transition"><i class="fa fa-facebook"></i></a></li>
              <li><a href="{{ site.data.index.footer.vkontakte }}"  target="_blank" class="transition"><i class="fa fa-vk"></i></a></li>
              <li><a href="{{ site.data.index.footer.vimeo }}"  target="_blank" class="transition"><i class="fa fa-vimeo"></i></a></li>
            </ul>

          </div>

          <p>{{ site.data.index.footer.copyright }}</p>

        </div>

      </div>

    </div><!--=============== section footer end ===============-->

  </div><!--=============== wrapper end ===============-->

</div><!--=============== main end ===============-->
